/*elementos blog*/
.intro-autor-blog{
    text-align:left;
    font-size: .8em;
}
.categorias-blog{
    width:75%;
    text-align:center;
    color:white;
    margin:auto;
    padding-bottom: 2em;
}
.card-body-blog{
  background-color: rgba(24, 64, 8);
  color:white;
  padding:1rem;
  padding-bottom:1rem;
}
.h-100{
  background-color: rgba(24, 64, 8);
}
.categorias-blog a{
  color:white;
  text-decoration: underline;
}
.categorias-blog a:hover{
  font-weight: bold;
  text-decoration:none;
}
/*fin elementos blog*/

/*elementos Contacto*/
.formulario-contacto{
  background-color: rgba(24, 64, 8,.6);
  margin-top:2em;
  margin-bottom:1.5em;
  padding:0.3em 2em .5em 2em;
}
.titulo-formulario{
  padding-top:1em;
  text-align:center;
}
.formulario-contacto label{
  margin-bottom:0.3em;
}
.boton-contacto{
  margin-right:1em;
  margin-top:1.3em;
  border-width: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  border-color: white;
  background-color: #ce901f;
}
.btn-success:hover{
  background-color:white;
  color:rgba(24, 64, 8);
  font-weight: bold;
}
.confirmacion-envio{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  padding:0.3em;
  background-color: #ce901f;
}
/*fin elementos contacto*/

/*elementos tienda*/
.producto-card{
  color:white;
  text-transform: uppercase;
  background-color: rgba(24, 64, 8,.7);
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.3);
}
.producto-card img{
  margin: .1em;
  padding:.9em;
}
.producto-nombre{
  display:block;
  color: #ce901f;
  font-size:1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:0px;
  padding-left:0px;
  padding-right:0px;
}
.producto-precio{
  display:block;
  background-color: #ce901f;
  font-size:1.3em;
  font-weight: bold;
  padding:6px;
  margin-top:-1.6em;
  margin-bottom:.5em;
}
.producto-boton{
  float:right;
  font-size: .7em;
  margin:-3px 1px 2px 2px;
}
.producto-carro{
  color:white;
  margin-top:1.7em;
  margin-left:0.4em;
}


/*iconos de google*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Formulario registro*/
.text-muted{
  width:100%;
  display:block;
  color:cornsilk !important;
  font-size:.9em;
  margin:1em auto;
}
.btn[name="registro"]{
  display:block;
  margin:auto;
}

@media (min-width:440px){
  .producto-carro{
    float:none;
    width:98%;
  }
}

@media (min-width: 992px) {
  .intro .intro-img-blog {
    max-width:60%;
    float: left;
  }
  .intro .intro-text-blog {
    left: 350;
    width: 60%;
    margin-top: 3rem;
    background-color: rgba(24, 64, 8,.9);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text-blog .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
  .formulario-contacto{
    max-width:70%;
  }
  .producto-carro{
    float:right;
    width:18%;
  }
  .text-muted{
    width:85%;
  }
  .container{
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .intro .intro-text-blog {
    left:600;
    width:46%;
  }
  .intro .intro-img-blog{
    max-width: 60%;
  }
  .formulario-contacto{
    max-width:65%;
  }
}
@media (min-width: 1200px) {
  .formulario-contacto{
    max-width:62%;
  }
  .producto-carro{
    float:right;
    width:18%;
  }
  .text-muted{
    width:90%;
  }
}
@media (min-width: 1800px) {
  .formulario-contacto{
    max-width:60%;
  }
  .text-muted{
    width:95%;
  }
}